.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}
header{
    grid-area: header;
    background-color: brown;
}
main{
    grid-area: main;
    background-color: blue;
}
aside{
    grid-area: aside;
    background-color: purple;
}
footer{
    grid-area: footer;
    background-color: yellow;
}